@import './colors.scss';
@import './text.scss';

@mixin shadow-1{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

@mixin btn-basic{
	color: $white;
    background-color: $basic-green;
    border: 1px solid $basic-green;
    @include btn-text;
}

@mixin btn-orange-hover{
	color: $white;
    background-color: $orange-primary;
    border-color: $orange-primary;    
}

@mixin btn-circle{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
    line-height: 1.3;
    border:1px solid white;
}

@mixin large-btn{
	@include btn-basic;
    border-radius: 4px;
    padding: 17px 30px;
}