@import './variables.scss';
@import './buttons.scss';
@import './colors.scss';
@import './text.scss';

@import url(./node_modules/font-awesome/css/font-awesome.css);

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family-sans-serif;
  	font-color: #aaa;
  	font-size: 14px;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center; }
  .header ul li {
    padding-right: 20px; }

.leftBar {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		margin-left: 0;
		justify-content: center;
		float: left;
	}

.homePage {
	display: flex;
	justify-content: center;
	width: 100%;
}

.leftBar button {
	padding: 0;
	outline: none;
	z-index: 1;
	font-size: 22px;
	width: 47px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	border-color: grey;
	justify-content: center;
	margin-bottom: 30px; }

.midBar img {
	margin: 0 auto;
	width: 700px;
	margin-right: 30px;
	}

.headerCountries {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
    float: right;
}

.mailContainer {
	margin: 0 auto;
	background: #353535;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    a {
    	color: white;
    }
}

.banner{
	height: 490px;
}

.bg-gradient{
	height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.21));
}

.bg{
		background-attachment: scroll;
    	background-origin: border-box;
    	background-repeat: no-repeat;
    	background-position: center center;

}

.content-row{
	height: 100%;
    box-sizing: border-box;
    padding: 5% 0px;
}

.white-text{
	color: $white;
}

.avatar{

	button{
		width: 94px;
    	height: 94px;
    	border:none;
    	margin-bottom: 30px;
	}

	.clear-box{
		width: 94px;
	}
}

.contact-info{
	padding: 100px 0px;

	a{
		    display: inline-block;
    		color: white;
    		text-decoration: none;
	}
}

.text-baloo{
	@include text-baloo;
}

h2{
	font-size: 40px;
}

.align-middle{
	vertical-align: middle;
}

.offer-banner{
	h4{
		@include h4-montserrat;
		line-height: 1.47;
	}

	p.text-baloo{
		margin-left: 15px;
	}
}

.search-tour-banner{
	h4{
		margin-bottom: 50px;
	}
}

.search-btn{
	@include large-btn;
	@include h4-montserrat;
	
	box-shadow: 1px 1px 5px 0px rgba(53,53,53,1);
	i{
		vertical-align: middle;
	}
}

.search-btn:hover{
	@include btn-style-hover;
}

.info-box{
	div.info-content{
		margin: 100px 0;
	}
}