@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Baloo|Montserrat:400,500|Open+Sans');

@mixin text-baloo{
	font-family: Baloo, cursive;
    font-size: 80px;
    /*line-height: 1;*/
    letter-spacing: -.04em;
}

@mixin h4-montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;   
}

@mixin h3-montserrat{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@mixin a-footer{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

@mixin review-text{
	@include basic-grey-text;
	font-size: 20px;
	font-style: italic;
}

@mixin basic-grey-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: .02em;
	color: $basic-grey;
	font-size: 16px;
}